* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-maroon-color: #780000;
    --light-maroon-color: #C1121F;
    --beige-color: #FDF0D5;
    --dark-navy-color: #001c2b;
    --light-navy-color: #003049;
    --light-blue-color: #669BBC;
    --blue-green-color: #20495B;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(253, 240, 213);
}



.container {
    /* height: 100vh; */
    scroll-snap-type: y mandatory;
    overflow: auto;
    margin: 100px 50px;
    border-radius: 45px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);

    /* Hide scrollbar for Webkit browsers */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


#hero, #skills, #projects, #contacts {
    height: 100vh;
    display: flex;
    /* scroll-snap-align: start; */
    flex-direction: column;
    /* margin: 0px 50px 0 50px;  */
    /* box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);  */
    /* box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.2);  */
} 


#hero {
    display: flex;
    background: linear-gradient(
        to bottom, 
        rgba(193, 18, 30, 0.5) 0%, 
        rgba(213, 250, 253, 0.3) 100%
    );
    flex-direction: column;
    border-radius: 45px 45px 0px 0px;
    /* margin-top: 80px; */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
}



#skills {
    background: linear-gradient(
        to bottom, 
        rgba(213, 250, 253, 0.3) 0%, 
        rgba(213, 250, 253, 0.3) 100%
    );
    flex-direction: column;
}


#projects {
    background: linear-gradient(
        to bottom, 
        rgba(213, 250, 253, 0.3) 0%, 
        rgba(213, 250, 253, 0.3) 60%, /* Greater portion in this color */
        rgba(102, 155, 188, 0.5) 100%
    );
}

#contacts {
    background-color: rgba(102, 155, 188, 0.5);
    border-radius: 0 0 45px 45px;
    /* margin-bottom: 80px; */
}


#hello {
    font-family: 'Work Sans', sans-serif; /* This sets the font family */
    font-size: 50px; /* This sets the font size */
    color: var(--beige-color);
}

#celine {
    font-family: 'Lora', serif; /* 'Lora' is a serif font, so the fallback is 'serif' */
    font-size: 90px; /* This sets the font size */
    color: #780000;
}

#data-scientist {
    font-family: 'Hind Madurai', sans-serif; /* 'Hind Madurai' is a sans-serif font, so the fallback is 'sans-serif' */
    font-size: 50px; /* This sets the font size */
    color: var(--dark-maroon-color);
}

.introduction-text {
    align-items: center;
    justify-items: center;

}


.header {
    padding: 10px;
}

.section-title {
    color: var(--blue-green-color);
    font-family: 'work-sans';
    font-size: 50px;
    text-decoration: bold;
    padding: 15px;
    margin-left: 45px;
}

.skills-container{
    padding: 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.skill-cards-container {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}


.skill-card {
    position: relative;
    /* display: flex; */
    background-color: #CAEBFF;
    padding: 10px;
    margin: 15px;
    border-radius: 45px;
    min-height: 360px; /* Minimum height of 360 pixels */
    /* max-height: 360px; */
    transition: transform 0.7s ease, width 0.7s ease;
    min-width: 360px;
    box-shadow: 0 0 6px 0 rgba(32, 32, 36, 0.12);

  
}

.skill-card:hover{
    box-shadow: 0 10px 20px 0 rgba(46, 46, 70, 0.219);
    transform: translateY(-10px) scale(1.05);
    transition: transform 0.6s ease;
}


.skill-card-title {
    color: var(--light-navy-color);
    font-weight: 600; /* Use 600 for semi-bold, or adjust as needed */
    font-style: italic;
    font-size: 50px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.skill-card-paragraph {
    font-family: 'Hind Madurai', sans-serif;
    color: var(--light-blue-color);
    padding: 10px 40px;
    text-align: justify; 
}


.projects-columns-container {
    padding: 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
}

.project-cards-column {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    padding: 10px;
}

.project-card {
    background-color: rgba(255, 205, 211, 0.849); 
    padding: 25px;
    border-top: 3px solid rgb(255, 208, 213);
    border-left: 1px solid rgba(255, 205, 211, 1);
    margin: 15px;
    border-radius: 45px;
    min-height: 360px; 
    box-shadow: -5px -5px 0.7px rgba(255, 215, 220, 0.849), 5px 5px 9px rgba(94,104,121,0.3);
    /* min-width: 360px; */
}


.mini-project-row {
    display: flex;
    flex-direction: row;
}

.mini-project-card {
    background-color: rgba(255, 205, 211, 0.849); /* RGBA format with 32% opacity */
    border-top: 3px solid rgb(255, 208, 213);
    border-left: 1px solid rgba(255, 205, 211, 1);
    margin: 10px;
    border-radius: 35px;
    min-height: 100px; /* Minimum height of 360 pixels */
    min-width: 100px;
    flex-grow: 1;
    box-shadow: -5px -5px 0.5px rgba(248, 215, 219, 0.849), 5px 5px 9px rgba(94,104,121,0.3);
}

.main-project {
    flex-grow: 1;
}

.contacts-container {
    display: flex;
    flex-direction: row;
}

.pic-section {
    padding: 20px;
}

.contact-links {
    padding: 50px;
}

.pic-section {
    border-radius: 50%;
}